/* Article Page container styling */
.article-container {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
  }
  
  /* Article title styling */
  .article-title {
    font-size: 30px;
    color: #f0f0f0;
  }
  
  /* Article authors styling */
  .article-authors {
    font-size: 20px;
    margin: 10px 0;
  }
  
  /* Article abstract styling */
  .article-abstract {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    text-align: justify;

  }


  
  /* Article PDF link styling */
  .article-pdf-link {
    margin-top: 10px;
    text-decoration: none;
    color: #ff4e88;
  }
  

  /* Loading container styling */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column; /* Align children vertically */

}

.loading-container .loader {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
}

.loading-container .loading-message {
  margin-top: 10px;
  color: white;
  font-size: 16px;
}

/* Chat container styling */
.chat-container {
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: auto;
  height: 800px; /* Set the desired height */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Separate chat history and input */



  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

/* Chat history styling */
.chat-history {
  flex-grow: 1; /* Allow the chat history to take up available space */
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  overflow: auto;

}

/* Chat message styling */
.chat-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: justify;

}

/* Chat icon styling */
.chat-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

/* Chat user styling */
.chat-user {
  font-weight: bold;
  margin-right: 5px;
}

/* Chat input styling */
.chat-input {
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.article-button {
  margin: 15px;
  padding: 9px 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease; /* Add transition for smooth hover effect */
  background-size: 200% auto;
  color: white;
  border: transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Add shadow */
  border-radius: 20px;
  display: inline-block;
  font-size: small;
  background-color: transparent;
}

.article-button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Hover effect */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}
