
  .featured-container {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust background color and opacity as needed */
    border-radius: 0; /* Adjust for desired corner rounding */
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .featured-header {
    color: #f0f0f0; /* Adjust color as needed */
    font-size: 24px; /* Adjust font size as needed */
    text-align: left;
    margin-bottom: 20px; /* Add space below the header */
    margin-left: 310px;
  }
  
  .logo-row {
    margin: 0 auto; /* Center the row if needed */
  }
  
  .logo-img {
    width: 300px !important; /* Set the specific width you want */
    max-width: 200px; /* Adjust width as needed */
    margin: 0 auto; /* Center images if needed */
  }
  