@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');


.featured-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  margin: 20px auto;
  max-width: 1200px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.featured-title {
  font-size: 18px; /* Adjust font size as needed */
  color: #f0f0f0; /* Adjust color as needed */
  margin-bottom: 10px; /* Space between title and container */
  text-align: left; /* Align to the left */
  font-family: 'Roboto', sans-serif;
  font-weight: 500; /* Use the same weight you specified in the Google Fonts link */
  font-style: italic; 
  margin-left: 20px;
  margin-bottom: -10px;
}

.featured-section {
  margin: 0px auto;
  max-width: 1200px; /* Adjust as needed */
}


.logo-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo-img {
  width: 250px; /* Adjust as needed */
  height: auto;
  object-fit: contain; /* Preserve aspect ratio */
  margin: 0 10px; /* Add space between logos */
}
