.featured-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  margin: 20px auto;
  max-width: 100%; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.logo-img {
  width: 250px; /* Adjust as needed */
  height: auto;
  object-fit: contain; /* Preserve aspect ratio */
  margin: 0 10px; /* Add space between logos */
}
