
.navbar.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-left: 0; /* Remove left padding */
    padding-right: 0;
}

.navbar .nav-link {
    color: white; /* Set the text color for navigation links */
}

.logo {
  color: #f0f0f0 !important; 
  text-shadow: 2px 2px 4px rgba(142, 45, 45, 0.1); 
  font-weight: bold; 
  font-size: 50 px; 
  position: relative;
  display: inline-block;
  overflow: hidden;
}


.btn-grad {
    margin: 15px;
    padding: 9px 17px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-position 0.5s, color 0.5s; 
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #181e4b;
    border-radius: 20px;
    display: inline-block; 
    font-size: x-small;
    position: relative;
    overflow: hidden;
}

.btn-grad::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2); /* Translucent white glaze */
    transition: left 0.5s ease; /* Smooth transition */
  }
  
  .btn-grad:hover::before {
    left: 100%; /* Move the glaze from left to right on hover */
  }